<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<h1 class="display-3 text-center text-md-left">
    Cette page est introuvable.
</h1>

<%- include('partials/footer.ejs') %>
