<%- include('partials/header.ejs') %>
  <%- include('partials/navbar.ejs') %>


    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5 order-md-2">
          <img src="/images/elearning.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7">
          <h1 class="display-3 text-center text-md-left">
            Apprenez quelque chose de <span class="text-success">nouveau</span> chaque jour.
          </h1>

          <p class="lead text-center text-md-left">
           En ce moment nous sommes souvent à la maison. Alors, pourquoi ne pas en profiter pour développer de
            nouvelles compétences ?
          </p>


          <div class="text-center text-md-left">
            <a href="" class="btn  btn-success shadow">
              Commencez <i class="fe fe-arrow-right d-none d-md-inline ml-3"></i>
            </a>
            <a href="docs/index.html" class="btn btn-primary-soft">
              En savoir plus
            </a>
          </div>

        </div>
      </div>
    </div>


<%- include('partials/footer.ejs') %>